.setting-value {
    color: black;
    font-weight: bold;
}
::placeholder {
    color: lightgray ;
    opacity: 1;
    font-style: italic;
    font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray ;
    opacity: 1;
    font-style: italic;
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray ;
    opacity: 1;
    font-style: italic;
    font-weight: normal;
}